<p>
  {{demo-pane name="file-chooser-only" title="Choose Files"}}
</p>

<p>
  {{demo-pane name="choose-files-with-preview" title="Choose Images With Preview"}}
</p>

<p>
  {{demo-pane name="full-demo" title="Upload With Progress"}}
</p>

<p>
  {{demo-pane name="full-demo-with-confirmation" title=""}}
</p>
